#!/usr/bin/make -f

# export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_test:
	f=0; \
	for i in $$(seq 3); do \
	  echo "Test Run $$i"; \
	  if env CTEST_OUTPUT_ON_FAILURE=1 dh_auto_test; \
	  then \
	    echo "success"; \
	  else \
	    echo "failure"; \
	    f=1; \
	  fi; \
	done; \
	if [ $$f = 1 ]; then false; fi
